<div id="<%= dom_id application %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Rails version:</h4>
    <p class="leading-none"><%= application.rails_version %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= application.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Slug:</h4>
    <p class="leading-none"><%= application.slug %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Slug:</h4>
    <p class="leading-none"><%= application.description %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Repository url:</h4>
    <p class="leading-none"><%= application.repository_url %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Status:</h4>
    <p class="leading-none"><%= application.status %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Generator option:</h4>
    <p class="leading-none"><%= application.generator_option_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Template:</h4>
    <p class="leading-none"><%= application.template_id %></p>
  </div>
</div>
