<div id="<%= dom_id template %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= template.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Slug:</h4>
    <p class="leading-none"><%= template.slug %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Path:</h4>
    <p class="leading-none"><%= template.path %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Description:</h4>
    <p class="leading-none"><%= template.description %></p>
  </div>
</div>
